#combinations-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    #combination-container {
        list-style: none;
        display: flex; 
        .image-small {
            width: 90px;
            height: 120px;
            background-size: cover;
            @media only screen and (max-device-width : 720px) {
                width: 70px;
                height: 95px;
              }
        }
        
    }
    .combination-title {
        color: black;
        text-decoration: none;
    }
}