* {
    box-sizing: border-box;
  }
  
body {
  padding-top: 70px;
  margin-top: 50px;
  background-color: aqua;
}

.jumbotron {
  background-color: aqua;
  width: 80%;
  height: 800px;
  .container {
    margin-top: 250px;
  }
}