@import "variables.scss";


.first-block {
    background-image: linear-gradient(rgba(148, 123, 137, 0.849)), 
                      url("https://images.unsplash.com/photo-1520204871215-20ab878aa1a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 95vh;
    align-items: center;
}

.second-block {
    height: 100vh;
    align-items: center;
    background-color: white !important;
}

.arrow {
    img {
        height: 20px;
    }
}

.prev {
    transform: scaleX(-1);
}

.carousel-indicators li {
    background-color: black !important;
}