.full-page {
  min-height: 90vh;
}

#images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  li {
    width: 18%;
    height: 200px;
    list-style: none;
    margin: 15px;
    div {
      display: flex;
      align-items: flex-end;
      background-size: contain;
      height: 100%;
      background-repeat: no-repeat;
      a {
        visibility: hidden;
        margin: 0 0 15px 10px;
      }
      &:hover {
        a {
          visibility: visible;
        }
      }
    }
  }
}

.absolute-link {
  position: absolute;
  top: 161px;
  left: 111px;
  font-size: 13px;
}