.full-page {
  min-height: 90vh;
}

#images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  li {
    list-style: none;
    margin: 15px;
    div {
      display: flex;
      align-items: flex-end;
      background-size: cover;
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      @media only screen and (max-device-width : 720px) {
        width: 160px;
        height: 160px;
      }
      a {
        visibility: hidden;
        margin: 0 0 15px 10px;
      }
      &:hover {
        a {
          visibility: visible;
        }
      }
    }
  }
}

.absolute-link {
  position: absolute;
  top: 161px;
  left: 63px;
  font-size: 13px;
  @media only screen and (max-device-width : 720px) {
    top: 143px;
  }
}