@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/*     Colors       */

$navbarColor: #323738;
$lightgray: #E1E7EB;
$gray: #AEB8C3;
$maroon: #947B89;
$wine: #4E0E2E;
$olivegreen: #475D6B; 

/*     Fonts      */

$logo-font: 'Rochester', cursive;
$basic-font: 'Noto Sans', sans-serif;