<div class="jumbotron jumbotron-fluid d-flex w-100 first-block mb-0">
  <div class="container text-center align-middle">
    <h1 class="title-big mb-3">Welcome to Capsule Wardrobe</h1>
    <p class="subtitle mt-4">Practicality and sustainability without losing style.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid d-flex w-100 second-block mb-0">
  <div class="container text-center align-middle">
    <h1 class="title-medium mb-5">About</h1>
    <p class="paragraph-big mt-4">Capsule wardrobe is a term coined by Susie Faux, the owner of a London boutique called "Wardrobe" in the 1970s. 
    According to Faux, a capsule wardrobe is a collection of a few essential items of clothing that don't go out of fashion, such as skirts, 
    trousers, and coats, which can then be augmented with seasonal pieces..</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid d-flex w-100 third-block maroon-bg mb-0">
  <div class="container text-center align-middle">
    <h1 class="title-medium mb-5">How it works</h1>
    <p class="paragraph-big mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut est erat, bibendum at justo eget, 
    finibus imperdiet ipsum. Maecenas ac lobortis est. Cras tincidunt nibh ex, vel sagittis dui tristique vitae. Aliquam at mollis erat. 
    Quisque feugiat venenatis erat a suscipit. Aenean at ornare tortor. Quisque magna tellus, consectetur et risus in, pharetra pharetra magna. 
    Integer at euismod lacus, at luctus est. Suspendisse id est a massa egestas hendrerit. Morbi vitae vehicula tellus, sed sagittis lacus. 
    Fusce dolor justo, imperdiet maximus libero ut, tincidunt fermentum turpis. Nulla rutrum, leo vitae porta tincidunt, nulla neque varius 
    ipsum, in commodo dui magna nec elit. Morbi quis purus hendrerit, eleifend dolor eget, iaculis velit.</p>

    <p class="paragraph-big">Ut non arcu leo. Etiam vitae tincidunt diam. Maecenas vestibulum felis non tortor tempor dictum. Ut convallis, 
    orci ac pretium porta, eros ex posuere massa, non aliquam lorem metus non diam. Morbi ultrices sapien vitae diam venenatis, a faucibus 
    odio commodo. Vestibulum auctor magna ac ante feugiat varius. Praesent sit amet tellus enim. Praesent suscipit purus sit amet egestas ultricies. 
    Aliquam ornare leo quis lorem lobortis imperdiet. Etiam nulla justo, cursus vel felis sagittis, consequat lacinia dui. Maecenas quis blandit ex.
     Nunc semper pellentesque neque elementum faucibus. Nam nec quam sed nulla fringilla aliquet. Sed sollicitudin fringilla dui nec porttitor. 
     Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
  </div>
</div>