<div class="jumbotron jumbotron-fluid d-flex w-100 first-block mb-0">
  <div class="container text-center align-middle">
    <h1 class="title-big mb-3">Welcome to Capsule Wardrobe</h1>
    <p class="subtitle mt-4">Practicality and sustainability without losing style.</p>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-flex flex-column w-50 second-block justify-content-center mx-auto">
        <h1 class="title-medium mb-5">What is capsule wardrobe?</h1>
        <p class="paragraph-big mt-2 text-center">
          Capsule wardrobe it's a collection of a few essential and versatile clothes 
          that don't go out of fashion. 
        </p> 
        <p class="paragraph-big mt-2 text-center">
          They can be mixed and matched to create a wide 
          variety of outfits for everyday use.
        </p> 
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="d-flex flex-column w-50 second-block justify-content-center mx-auto"">
        <h1 class="title-medium mb-5">Why does it matter?</h1>
        <p class="paragraph-big mt-2 text-center">
          Because it helps us protect the environment. The fashion industry 
          is the second-largest polluter in the world, just after the oil industry.
        </p> 
        <p class="paragraph-big mt-2 text-center">
          Because it saves money. Buying fewer clothes means you will have more 
          money for things that matters more for you. 
        </p> 
        <p class="paragraph-big mt-2 text-center">
          Because it saves time. A capsule wardrobe is practical and functional, 
          reflecting your lifestyles and taste, so you won't stay anymore in front 
          of the closet thinking on what to wear. 
        </p> 
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="d-flex flex-column w-50 second-block justify-content-center mx-auto">
          <h1 class="title-medium mb-5">How this website works?</h1>
          <p class="paragraph-big mt-2 text-center">
            After signing up, you will be able to make a list of all the clothes you 
            choose to compose your capsule wardrobe. 
          </p> 
          <p class="paragraph-big mt-2 text-center">
            The first step is to upload images of the selected items and categorize them. 
            From there, you will be able to 
            create looks and classify them in a way that works better for you. 
          </p> 
          <p class="paragraph-big mt-2 text-center">
            You will be amazed by how many looks you will be able to create!
          </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex flex-column w-50 second-block justify-content-center mx-auto">
        <h1 class="title-medium mb-5">Additional information:</h1>
        <ul class="d-flex flex-column">
          <li class="btn btn-purple btn-lg m-3">
            <a class="text-white text-decoration-none" target="_blank" href="https://pinchofyum.com/how-to-start-a-capsule-wardrobe">
              How to start a capsule wardrobe
            </a>
          </li>
          <li class="btn btn-purple btn-lg m-3">
            <a class="text-white text-decoration-none" target="_blank" href="https://www.youtube.com/watch?v=ZiO1dX7h-o4">
              Capsule wardrobe: WHAT, WHY & HOW | Step-by-step online course
            </a>
          </li>
          <li class="btn btn-purple btn-lg m-3">
            <a class="text-white text-decoration-none" target="_blank" href="https://www.sustainyourstyle.org/old-environmental-impacts">
              Fashion's Environmental Impact
            </a>
          </li>
          <li class="btn btn-purple btn-lg m-3">
            <a class="text-white text-decoration-none" target="_blank" href="https://bemorewithless.com/how-to-build-a-capsule-wardrobe/">
              How to Build a Capsule Wardrobeby Courtney Carver
            </a>
          </li>
        </ul>
      </div>
    </div>
  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="arrow prev" aria-hidden="true"><img src="https://practicaldev-herokuapp-com.freetls.fastly.net/assets/keyboard-right-arrow-button-344b5b41f21798a671d21895a8df9e8750fd779c7bdef5f105c3d064ab281e67.svg"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="arrow" aria-hidden="true"><img src="https://practicaldev-herokuapp-com.freetls.fastly.net/assets/keyboard-right-arrow-button-344b5b41f21798a671d21895a8df9e8750fd779c7bdef5f105c3d064ab281e67.svg"></span>
    <span class="sr-only">Next</span>
  </a>
</div>