<div class="jumbotron jumbotron-fluid d-block mx-auto">
  <div class="container text-center align-middle">
    <h1 class="display-4">Welcome to Capsule Wardrope</h1>
    <p class="lead">Practicality and sustainability without losing style.</p>
  </div>
</div>