@import "../../base/variables.scss";

.top-navbar {
  height: 90px;
  background-color: $navbarColor;
  box-shadow: 0 3px 3px -2px rgba(26, 23, 23, 0.781);
  .white-link {
    color: $lightgray !important;
  }
  .navbar-brand {
    font-family: $logo-font;
    font-size: 40px;
    @media only screen and (max-device-width : 480px) {
      font-size: 27px;
    }
  }
  @media only screen and (max-device-width : 480px) {
    font-size: 27px;
    align-items: baseline;
    padding-top: 17px;
  }
}

.dropdown-menu {
  position: absolute !important;
}

.dropdown-item {
  color: $navbarColor !important;
}

.navbar-bottom {
  background-color: $navbarColor;
  box-shadow: -2px 3px 3px 0 rgba(26, 23, 23, 0.781);
  color: white;
}

