@import "../../base/variables.scss";

.sidebar-sticky {
    .big {
      font-size: 20px;
    }
    a {
      color: black;
      width: 100%;
      text-align: center;
      &:hover {
        background-color: $hoverColor;
        color: black;
      }
    }
  }