<div class="container-fluid full-page">
  
    <!-- Bootstrap row -->
    <div class="row h-100" id="body-row">
        <%= render "sidebar" %>

        <!-- MAIN -->
        <div class="col pt-3">
            <ul>
                <% @posts.each do |post| %>
                    <li>
                        <img src='<%=(url_for(post.picture)) %>'>
                        <p><%= post.category.name %></p>
                    </li>
                <% end %>
            </ul>

        </div><!-- Main Col END -->
        
    </div><!-- body-row END -->
  
  
</div><!-- container -->