<div id="image-expand" class="mx-auto mt-sm-5 mt-4 justify-content-end" style='background-image: url(<%=(url_for(@post.picture)) %>)'>
    <%= link_to posts_path, class:"btn btn-secondary btn-sm mr-3" do %>
        <i class="fas fa-compress"></i>
    <% end %>
</div>