<nav class="top-navbar navbar navbar-expand-lg fixed-top d-flex justify-content-between">
  <%= link_to 'Capsule Wardrobe', root_path, class: 'navbar-brand white-link ml-3' %>
  <ul class="navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>
</nav>