<nav class="navbar navbar-expand-lg fixed-top">
  <%= render home_link_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    <ul class="navbar-nav">
      <%= render collapsible_links_partial_path %>
    </ul>
  </div>
</nav>