<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <%= render home_link_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <%= render collapsible_links_partial_path %>
    </ul>
    <span class="navbar-text">
      Practicality and sustainability without losing style
    </span>
  </div>
</nav>