<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <%= link_to "Add clothes", "#", class: 'dropdown-item' %>
        <%= link_to "Visit store", "#", class: 'dropdown-item' %>
        <%= link_to "Edit profile", edit_user_registration_path, class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    </div>
</div>